#sign-content{
    background: #777777;
}

#form-sign{
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 20px;
    width: 500px;
    background: silver;
}

#form-sign input{
    width: 350px;
    height: 50px;
    border-radius: 0;
    margin: 15px;
    
    font-size: 20px;
}

#form-sign input:nth-child(7){
    color:#fff;
}

#form-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

#form-content h1{
    color: silver;
}



